<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>edu.syr.ad.vpnconnect</string>
	<key>LaunchOnlyOnce</key>
	<false/>
	<key>Program</key>
	<string>/usr/local/SystemVPN_AD/vpnCheckConnect.py</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>